[submodule "py2neo"]
	path = py2neo
	url = git@github.com:technige/py2neo.git
[submodule "cypy"]
	path = cypy
	url = git@github.com:technige/cypy.git
[submodule "www-f"]
	path = www-f
	url = git@github.com:technige/www-f.git
